body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item{
    font-size: 1.5rem;
}

.item_passed{
    color: rgb(0, 124, 17);
}

.item_failed{
    color: rgb(237, 18, 18);
}